name: Sharingan Build
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/.md'
env:
  COMMIT_SHA: ${{ github.event.pull_request.head.sha }}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
      MYSQL_PORT: 3306
      DATABASE_URL: mysql://root:root@127.0.0.1:3306/test
      ADMIN_PASSWORD: admin_password
      CONVERTKIT_API_KEY: api_key
      CONVERTKIT_FORM_ID: form_id
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node 16
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install projects dependencies
        uses: bahmutov/npm-install@v1

      - name: Lint the projects
        run: yarn lint

      - name: Build the projects
        run: yarn build

      - name: Start MySQL server
        run: sudo systemctl start mysql.service

      - name: Run tests
        run: yarn test

  trigger_deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: trigger_deploy
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Trigger deployment
        run: |
          set -e

          GITHUB_TOKEN=${{ github.token }}
          SHA=${COMMIT_SHA:=latest}

          echo $SHA

          curl -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token $GITHUB_TOKEN" https://api.github.com/repos/tericcabrel/sharingan/actions/workflows/deploy-core.yml/dispatches -d '{"ref": "main", "inputs": {"commit-sha": "'"$SHA"'"}}'
